@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                @await Component.InvokeAsync("PopularTrack")
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                @await Component.InvokeAsync("PopularArtist")
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                @await Component.InvokeAsync("Danceability")
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                @await Component.InvokeAsync("TrackCount")
            </div>
        </div>
    </div>
</div>
