<div class="nav-header">
    <div class="brand-logo">
        <a href="/">
            <b class="logo-abbr"><img src="~/adminweb/images/logo.png" alt=""> </b>
            <span class="logo-compact"><img src="~/adminweb/images/logo-compact.png" alt=""></span>
            <span class="brand-title">
                <img src="~/adminweb/images/logo-text.png" alt="">
            </span>
        </a>
    </div>
</div>
<div class="header">
    <div class="header-content clearfix">

        <div class="nav-control">
            <div class="hamburger">
                <span class="toggle-icon"><i class="icon-menu"></i></span>
            </div>
        </div>
        <div class="header-left">
            <div class="input-group icons">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1">
                        <i class="mdi mdi-magnify"></i>
                    </span>
                </div>
                <form action="/Dashboard/BigTable" method="get" class="form-inline">
                    <input type="text" class="form-control" name="searchTerm" placeholder="Dashboard içinde ara" aria-label="Şarkılar İçerisinde Ara">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Ara</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
