<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="mega-menu mega-menu-sm">
                <a href="/Dashboard/Index" aria-expanded="false">
                    <i class="fa fa-angellist"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>

            <li class="mega-menu mega-menu-sm">
                <a href="/Dashboard/BigTable" aria-expanded="false">
                    <i class="fa fa-database"></i><span class="nav-text">Geniş Tablo</span>
                </a>                
            </li>  
            <li class="mega-menu mega-menu-sm">
                <a href="/Dashboard/BigTable" aria-expanded="false">
                    <i class="fa fa-language"></i><span class="nav-text">Özet Tablo</span>
                </a>                
            </li>  
            <li class="mega-menu mega-menu-sm">
                <a href="/Dashboard/TableDetails" aria-expanded="false">
                    <i class="fa fa-table"></i><span class="nav-text">Tablo Açıklamaları</span>
                </a>                
            </li> 
            <li class="mega-menu mega-menu-sm">
                <a href="/Dashboard/GenreCountChart" aria-expanded="false">
                    <i class="fa fa-music"></i><span class="nav-text">Türlere Göre Grafik</span>
                </a>                
            </li>            
        </ul>
    </div>
</div>
